---
---

<!DOCTYPE html>
<html><head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Scott Graham</title>
<style>
body{font-family:sans-serif;margin:40px auto;max-width:650px;padding:0 10px;line-height:1.5;}
</style></head><body>

<h2>Scott Graham</h2>
<p>No recruiters, please.</p>
<p><a href="mailto:webcontact@scot.tg">Email</a> &middot; <a href="https://github.com/sgraham/">Github</a> &middot; <a href="https://twitter.com/h4kr">Twitter</a></p>
<hr>

<p>
<ul>
{% for post in site.posts %}
{% assign cutoff = '2021-01-01' | date: '%s' %}
{% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
{% if posttime > cutoff %}
<li><a href="{{post.url}}">{{post.title}}</a> &middot; {{post.date | date_to_long_string}}</li>
{% endif %}
{% endfor %}
</ul>
</p>

</body></html>
