---
---

<!DOCTYPE html>
<html><head><title>Scott Graham</title><style>
body{font-family:sans-serif;margin:40px;max-width:650px;}
</style></head><body>

<p>Scott Graham &middot; <a href="mailto:scott.webcontact@h4ck3r.net">Email</a> &middot; <a href="https://twitter.com/h4kr">Twitter</a></p>

<p>
<ul>
{% for post in site.posts %}
{% assign cutoff = '2021-01-01' | date: '%s' %}
{% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
{% if posttime > cutoff %}
<li><a href="{{post.url}}">{{post.title}}</a> &middot; {{post.date | date_to_long_string}}</li>
{% endif %}
{% endfor %}
</ul>
</p>

</body></html>
