<!DOCTYPE html>
<html><head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{page.title}}</title><style>
body{font-family:sans-serif;margin:40px auto;max-width:650px;padding:0 10px;line-height:1.5;}
</style><link rel=icon href="data:;base64,="></head><body>
<h2>{{ page.title }}</h2>
<p>{{ page.date | date_to_long_string }}</p>
<hr>
{{ content }}
<hr>
<p>Comments or corrections?
Feel free to <a href="mailto:web@smg.lol?subject=Re: {{page.title}}">send me an email</a>.
Back to the <a href="/">front page</a>.</p>
</body></html>
