<!DOCTYPE html>
<html><head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400&display=swap" rel="stylesheet" async>
<title>{{page.title}}</title><style>
body{font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif !important;margin:40px auto;max-width:650px;padding:0 10px;font-size:1.2em;line-height:1.6em;background:#F8F8F8;color:#444;}
.footnotes{font-size:.9em}
table{border-collapse:collapse;}
td{border:1px solid;padding:6px 13px;}
</style><link rel=icon href="data:;base64,="></head><body>
<h2>{{ page.title }}</h2>
<p>{{ page.date | date_to_long_string: "ordinal" }}</p>
<hr>
{{ content }}
<hr>
<p>Comments or corrections?
Feel free to <a href="mailto:web@scot.tg?subject=Re: {{page.title}}">send me an email</a>.
Back to the <a href="/">front page</a>.</p>
</body></html>
