<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>h4ck3r.net</title>
        <link href="/css/site.css" media="screen" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="canvas">
            <div class="intro">

              <h1>
                This site is for archivial and &quot;Cool URIs Don't
                Change&quot;
                purposes. You won't find anything useful here!
              </h1>

              <hr>

                <h1>Scott Graham</h1>

                <p>Welcome to <b>h4ck3r.net</b>, my personal website. You can
                find some information about me and my projects, and you can
                read some of my articles about programming and tech. </p>

                <p> You can also subscribe to my blog's <a
                    href="/atom.xml">RSS feed</a> or <a
                    href="http://twitter.com/h4kr">follow me</a>
                on twitter. </p>

                <p>Are you <em>"Done, and Gets Things Smart"</em>-smart?
                <a href="mailto:scott.webcontact@h4ck3r.net">Get in
                    touch</a> if you want to come <a
                    href="http://jobs.google.com/">work with me</a>,
                <em>or</em> here's my <b>r&eacute;sum&eacute;</b> (
                <a href="/images/scott_graham_resume.html">html</a>
                |
                <a href="/images/scott_graham_resume.pdf">pdf</a>
                )
                if you've got an exciting project to work on that would
                suit my skills.</p>

            </div>

            <div>
                <h2>Blog</h2>
                <h4>(Not at all) Recently</h4>
                <ul class="posts">
                    {% for post in site.posts limit: 3 %}
                    {% assign cutoff = '2021-01-01' | date: '%s' %}
                    {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
                    {% if posttime <= cutoff %}
                    <li>
                        <a  onmouseover="showDate('{{ post.id | replace:'/','-' }}', true);"
                            onmouseout="showDate('{{ post.id | replace:'/','-' }}', false);"
                            href="{{ post.url }}">{{ post.title }}</a>
                        <div id="{{ post.id | replace:'/','-' }}"
                            class="article_date_title">{{ post.date | date_to_string }}</div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <p><a href="/oldposts/">See all...</a></p>
            </div>
            <div>
                    <h2>Projects</h2>

                    <p> Most of my projects, time, and code go into
                    secret-work-type-things, but when I have time, these
                    are some of the projects I've worked on for fun (in
                    roughly reverse chronological order). Some projects
                    and some small hacks.</p>

                    <div id="projects" class="projectscol">
                        <div id='projbody' style="float:right;width:36em;"></div>
                        {{ content }}
                    </div>
            </div>
        </div>

        <div id="footer">
            <p>
                Copyright &copy; Scott Graham.<br/>
            </p>
        </div>
    </body>
  </html>
